<h6>Here is a list of posts for a given user</h6>

<section>
<div>
<h1><%= @post.title %></h1>
<div>
  <span>Number of comments: <%= @post.comments_counter || 0 %></span>
  <span>Number of likes: <%= @post.likes_counter || 0 %></span>
</div>

<p>post description: <%= @post.text %></p>

</div>

<div class= "recents-comments">
<div>
        <%= form_with url: "/users/#{@post.author_id}/posts/#{@post.id}/likes", scope: :like do |f| %>
        <%= f.submit "Like" %>
        <% end %>
</div>

<% @post.recent_comments.each do |comment|%>
  <li>Username : <%= comment.text %>
  <% end %>
</div>
<ul>
<% @comments.each do |rec| %>
<li><%= rec.author.name %> : <%= rec.text %></li>
<% end %>
</ul>
<%= render 'add_comment'%>
<section>